.change{
  position: absolute;
  margin-left: 200px;
  height: 300px;
  margin-top: 0px;
  width: 250px;
  background: transparent;
  padding: 10px;
  z-index: 2;
}

.change ol
{
	position: absolute;
	background: transparent;
	height: 450px;
	margin-left: 100px;
	margin-top: 0px;
	width: 300px;
}

.change li
{
	
	color: white;
	font-size: 20px;
	margin-top: 5px;
}

.change input[type=text]{
  width: 250px;
  height: 35px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
}

.change input[type=password]{
  width: 250px;
  height: 35px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}

.change input[type=number]{
  width: 250px;
  height: 35px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}


.change input[type=submit]{
  width: 250px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}

.change input[type=submit]:hover{
  background-color: #154360;
  color: white;
  opacity: 0.9;
}

.change input[type=submit]:active{
  background-color: #154360;
  color: white;
  opacity: 0.6;
}

.change input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.change input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.change input[type=submit]:focus{
  outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
